openapi: 3.0.0

info:
    title: Land Cover Classification System Web Service

    description: >
        Land Cover Classification System Web Service (LCCS-WS) is designed to deal with class system representations in traditional land use and cover maps. Besides that it can make easy for applications to have access to the symbology of well know land use and cover maps in applications such as QGIS or GeoServer.


        There are free and open source implementations based on this specification:

        - [lccs-ws](https://github.com/brazil-data-cube/lccs-ws): is a LCCS web server implemented in Python.

        - [lccs.py](https://github.com/brazil-data-cube/lccs.py): is a client library for Python.

        - [wlts](https://github.com/brazil-data-cube/wlts): is a Land Use and Cover Trajectory web service implemented in Python.

        - [wlts.py](https://github.com/brazil-data-cube/wlts.py): is a client library for Python programmers that makes easy the access to trajectories from land use and cover maps.

    contact:
        name: LCCS-WS Specification
        url: https://gitter.im/brazil-data-cube/community#
        email: brazildatacube@dpi.inpe.br

    license:
        name: MIT
        url: https://opensource.org/licenses/MIT

    version: '0.4.0'

    x-logo:
        url: '../img/bdc-logo.png'
        altText: Brazil Data Cube
        href: 'https://github.com/brazil-data-cube'

servers:
    - url: 'http://www.esensing.dpi.inpe.br/lccs'
      description: Production server

    - url: 'http://www.dev.esensing.dpi.inpe.br/lccs'
      description: Development server

paths:

    /:
        get:
            tags:
                - Root
            summary: Returns the root LCCS-WS that is the entry point for users to browse.
            operationId: getRoot
            responses:
                '200':
                    $ref: '#/components/responses/Root'
                '500':
                    $ref: '#/components/responses/ServerError'

    /classification_systems:
        get:
            tags:
                - Classification Systems
            summary: List of classification systems.
            description: Retrieves the list of names of all available land use and and cover classification systems in the service.
            operationId: getClassificationSystems
            responses:
                '200':
                    $ref: '#/components/responses/ClassificationSystems'
                '500':
                    $ref: '#/components/responses/ServerError'
        post:
            tags:
                - Classification Systems
            summary: Add a new classification system.
            description: Adds a new classification system and returns informations about the new classification system.
            operationId: addClassificationSystem
            requestBody:
                $ref: '#/components/requestBodies/ClassificationSystem'
            responses:
                '201':
                    $ref: '#/components/responses/ClassificationSystem'

    /classification_systems/{system_id}:
        parameters:
            - $ref: '#/components/parameters/system_id'
        get:
            tags:
                - Classification Systems
            summary: Describes a given classification system.
            description: Returns a document with full information about the classification system identified by `system_id`.
            operationId: describeClassificationSystem
            responses:
                '200':
                    $ref: '#/components/responses/ClassificationSystemMetadata'
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'
        put:
            tags:
                - Classification Systems
            summary: Update a given classification system.
            description: Updates an existing rating system and returns information about it.
            operationId: updateClassificationSystem
            requestBody:
                $ref: '#/components/requestBodies/ClassificationSystem'
            responses:
                '200':
                    $ref: '#/components/responses/ClassificationSystemMetadata'
                '400':
                    $ref: '#/components/responses/BadRequest'

        delete:
            tags:
                - Classification Systems
            summary: Delete a classification system.
            description: Delete a classification system.
            operationId: deleteClassificationSystem
            responses:
                '400':
                    $ref: '#/components/responses/BadRequest'
                '200':
                  description: Delete


    /classification_systems/{system_id}/classes:
        parameters:
            - $ref: '#/components/parameters/system_id'
        get:
            tags:
                - Classes
            summary: Fetch the classes of a given classification system.
            description: >
                Fetch classes of the classification system identified by `system_id`.
            operationId: getClasses
            responses:
                '200':
                    $ref: '#/components/responses/Classes'
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'

        post:
            tags:
                - Classes
            summary: Adds one or more new classes to a classification system.
            description: Adds one or more new classes to a classification system.
            operationId: addClasses
            requestBody:
                $ref: '#/components/requestBodies/Classes'
            responses:
                '400':
                    $ref: '#/components/responses/BadRequest'
                '200':
                  description: Created

        put:
            tags:
                - Classes
            summary: Update classes of a classification system.
            description: Updates one or more classes of an existing classification system.
            operationId: updateClasses
            requestBody:
                $ref: '#/components/requestBodies/Classes'
            responses:
                '400':
                    $ref: '#/components/responses/BadRequest'
                '200':
                  description: Updated

        delete:
            tags:
                - Classes
            summary: Delete classes.
            description: Delete all classes of an classification system.
            operationId: deleteClasses
            responses:
                '400':
                    $ref: '#/components/responses/BadRequest'
                '200':
                  description: Deleted


    /classification_systems/{system_id}/classes/{class_id}:
        get:
            tags:
                - Classes
            summary: fetch a single class.
            description: >
                Fetch the classe with id `class_id` in the classification
                system  with id `system_id`.
            operationId: getClass
            parameters:
                -   $ref: '#/components/parameters/system_id'
                -   $ref: '#/components/parameters/class_id'
            responses:
                '200':
                    $ref: '#/components/responses/ClassMetadata'
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'
        delete:
            tags:
                - Classes
            summary: Delete a single class.
            description: Delete a single class of an classification system.
            operationId: deleteClass
            parameters:
                -   $ref: '#/components/parameters/system_id'
                -   $ref: '#/components/parameters/class_id'
            responses:
                '400':
                    $ref: '#/components/responses/BadRequest'
                '200':
                  description: Deleted


    /classification_systems/style_formats:
        get:
            tags:
                - Styles
            summary: fetch style formats
            description: >
                Fetch style formats available in service.
            operationId: getStyleFormat
            parameters:
                - $ref: '#/components/parameters/system_id'
            responses:
                '200':
                    $ref: '#/components/responses/StyleFormats'
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'

    /classification_systems/{system_id}/styles:
        get:
            tags:
                - Styles
            summary: fetch styles
            description: >
                Fetch styles of the classification with id `system_id`.
            operationId: getStyles
            parameters:
                - $ref: '#/components/parameters/system_id'
            responses:
                '200':
                    $ref: '#/components/responses/Styles'
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'

        post:
            tags:
                - Styles
            summary: Add a new style.
            description: Adds a new style and returns a messagem.
            operationId: postMapping
            parameters:
                - $ref: '#/components/parameters/system_id'
            requestBody:
                $ref: '#/components/requestBodies/Style'
            responses:
                '201':
                    $ref: '#/components/responses/StyleMessage'

    /classification_system/{system_id}/styles/{style_id}:
        get:
            tags:
                - Styles
            summary: fetch style
            description: >
                Fetch style of the classification with id `system_id`.
            operationId: getStyle
            parameters:
                - $ref: '#/components/parameters/system_id'
                - $ref: '#/components/parameters/style_id'
            responses:
                '200':
                    $ref: '#/components/responses/Style'
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'

    /mappings/{system_id_source}:
        get:
            tags:
                - Mappings
            summary: Retrives available classification systems mappings.
            operationId: getAvailablesMappings
            parameters:
                - $ref: '#/components/parameters/system_id_source'
            responses:
                '200':
                    $ref: '#/components/responses/AvailableMappings'
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'

    /mappings/{system_id_source}/{system_id_target}:
        get:
            tags:
                - Mappings
            summary: Retrives classification systems mappings.
            description: Mapping of classification systems.
            operationId: getMappings
            parameters:
                - $ref: '#/components/parameters/system_id_source'
                - $ref: '#/components/parameters/system_id_target'
            responses:
                '200':
                    $ref: '#/components/responses/Mappings'
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'
        post:
            tags:
                - Mappings
            summary: Add a new classification system mapping.
            description: Adds a new classification system mapping and returns a document with the mapping.
            operationId: addMapping
            parameters:
                - $ref: '#/components/parameters/system_id_source'
                - $ref: '#/components/parameters/system_id_target'
            requestBody:
                $ref: '#/components/requestBodies/Mappings'
            responses:
                '201':
                    $ref: '#/components/responses/Mappings'


components:

    schemas:

        RootType:
            title: The landing page provides links to the API definition. Links to the classification systems endpoint.
            description: >
                Provides link to the classification system.
            type: object
            properties:
                links:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"
            required:
                - links

        ClassificationSystemsType:
            title: A document with the list of land use and and cover classification systems.
            description: >
                The name of a classification system is unique and it can be used in successive queries in the system.
            type: object
            properties:
                classification_systems:
                    type: array
                    items:
                        $ref: "#/components/schemas/ClassificationSystemMetadataType"
            required:
                - links

        ClassificationSystemType:
            title: Land Use and Cover Classification System
            description: >
                This type represents a given land use and cover classification system.
            type: object
            properties:
                name:
                    type: string
                description:
                    type: string
                authority_name:
                    type: string
                version:
                    type: string
            required:
                - name
                - description
                - authority_name
                - version

        ClassificationSystemMetadataType:
            type: object
            properties:
                id:
                    type: number
                name:
                    type: string
                authority_name:
                    type: string
                description:
                    type: string
                version:
                    type: string
                links:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"
                    example:
                        -   href: http://www.esensing.dpi.inpe.br/lccs/classification_systems/system_id
                            rel: self
                        -   href: http://www.esensing.dpi.inpe.br/lccs/classification_systems/system_id/classes
                            rel: classes
                        -   href: http://www.esensing.dpi.inpe.br/lccs/classification_systems
                            rel: parent
                        -   href: http://www.esensing.dpi.inpe.br/lccs/
                            rel: root
            required:
                - id
                - name
                - links

        ClassesType:
            title: Land Use and Cover Classes.
            description: >
                Land Use and Cover Classes.
            type: object
            properties:
                links:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"
            required:
                - links

        ClassType:
            title: Land Use and Cover Class
            description: Land Use and Cover Class.
            type: object
            properties:
                name:
                    type: string
                code:
                    type: string
                description:
                    type: string
                parent_name:
                    type: string
            required:
                - name
                - code
                - description

        ClassMetadataType:
            title: Land Use and Cover Class.
            description: >
                Describes a class from a classification system.
            type: object
            properties:
                id:
                    type: number
                name:
                    type: string
                code:
                    type: string
                description:
                    type: string
                class_parent:
                    type: string
                classification_system_name:
                    type: string
                classification_system_id:
                    type: number
                links:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"
            required:
                - id
                - name
                - code
                - links

        StyleFormatsType:
            title: Style Formats type.
            description: >
                Describes a style formats.
            type: object
            properties:
                styles_formats:
                    type: array
                    items:
                      type: string
                links:
                        type: array
                        items:
                            $ref: "#/components/schemas/LinkType"

        StylesType:
            type: object
            properties:
                links:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"
            required:
                - links

        MappingType:
            type: object
            properties:
                degree_of_similarity:
                    type: number
                description:
                    type: string
                source:
                    type: string
                source_id:
                    type: number
                target:
                    type: string
                target_id:
                    type: number
                links:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"


        MappingsType:
            type: object
            properties:
                mapping:
                    type: array
                    items:
                        $ref: "#/components/schemas/MappingType"

        LinkType:
            title: Link for related information.
            description: This is a generic way to link information in the service.
            type: object
            properties:
                href:
                    type: string
                    format: url
                    example: 'http://www.esensing.dpi.inpe.br/lccs/classification_systems/system_id/classes'
                rel:
                    type: string
                    example: child
                title:
                    type: string
                    example: Child
            required:
                - href
                - rel

        ExceptionType:
            title: The type of exception raised by the service.
            description: >
                Information about the exception: an error code plus an optional description.
            type: object
            properties:
                code:
                    type: string
                description:
                    type: string
            required:
                - code

    responses:

        Root:
            description: >
                The landing page provides links to the classification systems
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/RootType'

        ClassificationSystems:
            description: >
                JSON document with the name list of land use and and cover classification systems offered by the service.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ClassificationSystemsType'

        ClassificationSystem:
            description: >
                A JSON document with the classification system information.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ClassificationSystemType'

        ClassificationSystemMetadata:
            description: >
                JSON document describing the classification system.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ClassificationSystemMetadataType'

        Classes:
            description: >
                A JSON document consisting of a list of land use and cover classes.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ClassesType'

        Class:
            description: >
                A JSON document consisting of a land use and cover class.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ClassType'

        ClassMetadata:
            description: >
                fetch the classe with id `class_id` in the classification system
                with id `system_id`
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ClassMetadataType'

        StyleFormats:
            description: >
                The respose is a document consisting of all style formats available in service.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/StyleFormatsType'

        Styles:
            description: >
                The response is a document consisting of all styles in the classification system.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/StylesType'

        Style:
            description: >
                The response is a document with the style of the classification system.
            content:
                application/octet-stream:
                    schema:
                        type: string
                        format: binary

        AvailableMappings:
            description: >
                fetch all mappings available with `system_id_source`.
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/StylesType"

        Mappings:
            description: >
                fetch the mapping with `system_id_source` and `system_id_target`.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/MappingsType'

        ServerError:
            description: >
                A JSON document informing that an error has occurred in the system.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ExceptionType'
                text/html:
                    schema:
                        type: string

        NotFound:
            description: >
                The requested URI was not found.

        InvalidParameter:
            description: >
                A query parameter has an invalid value.


        BadRequest:
            description: >
                Server was unable to process the request .


        StyleMessage:
            description: >
                Classification System Style Inserted.

    parameters:

        system_id:
            name: system_id
            in: path
            description: Identifier (name) of a classification system.
            required: true
            schema:
                type: string

        class_id:
            name: class_id
            in: path
            description: Identifier (name) of a class.
            required: true
            schema:
                type: string

        system_id_source:
            name: system_id_source
            in: path
            description: Identifier (name) of a source classification system.
            required: true
            schema:
                type: string

        system_id_target:
            name: system_id_target
            in: path
            description: Identifier (name) of a target classification system.
            required: true
            schema:
                type: string

        style_id:
            name: style_id
            in: path
            description: Identifier (name) of style format.
            required: true
            schema:
                type: string

    requestBodies:

        ClassificationSystem:
            description: >
                A document describing the new classification system.
            required: true
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            name:
                                type: string
                            authority_name:
                                type: string
                            description:
                                type: string
                            version:
                                type: string

        Classes:
            description: >
                A file that describes the new classes of a classification system.
            required: true
            content:
                multipart/form-data:
                  schema:
                        type: object
                        properties:
                            classes:
                                type: string
                                format: binary


        Class:
            description: >
                A land use and cover class to be added to a class system.
            required: true
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ClassType'

        Mappings:
            description: >
                A document describing the new classification system.
            required: true
            content:
                multipart/form-data:
                    schema:
                        type: object
                        properties:
                            mappings:
                                type: string
                                format: binary

        Style:
            description: >
                A document describing the new style of classification system.
            required: true
            content:
                multipart/form-data:
                    schema:
                        type: object
                        properties:
                            style_format:
                                type: string
                            style:
                                type: string
                                format: binary
