openapi: 3.0.0

info:
  title: Land Cover Classification System Web Service
  description: |
    The **L**and **C**over **C**lassification **S**ystem **W**eb **S**ervice (LCCS-WS) is designed to handle classification systems traditionally used in land use and cover data products. It also provides access to the map symbology based on style formats such as the ones supported in QGIS and GeoServer.

    There are free and open source implementations based on this specification:
    - [lccs-ws](https://github.com/brazil-data-cube/lccs-ws): is a LCCS web server implemented in Python.

    - [lccs.py](https://github.com/brazil-data-cube/lccs.py): is a client library for Python.

    - [rlccs](https://github.com/brazil-data-cube/rlccs): is a client library for R.

    - [wlts](https://github.com/brazil-data-cube/wlts): the Land Use and Cover Trajectory web service complements the LCCS API with the concept of trajectories.

    - [wlts.py](https://github.com/brazil-data-cube/wlts.py): is a Python client library that makes easy the access to trajectories in land use and land cover maps.

    - [rwlts](https://github.com/brazil-data-cube/rwlts.py): the R client library to access WLTS.
  contact:
    name: Brazil Data Cube Team
    url: 'https://discord.com/channels/689541907621085198#'
    email: brazildatacube@inpe.br
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  version: '0.6'
  x-logo:
    url: 'https://brazil-data-cube.github.io/_static/logo-bdc.png'
    altText: Brazil Data Cube
    href: 'https://github.com/brazil-data-cube'

servers:
  - url: 'https://brazildatacube.dpi.inpe.br/lccs/'
    description: Production server
  - url: 'https://brazildatacube.dpi.inpe.br/dev/lccs/'
    description: Development server

paths:

  /:
    get:
      tags:
        - Root
      summary: Root Entry Point
      description: Returns the root entry point in the service where users can browse the available resources.
      operationId: getRoot
      responses:
        '200':
          $ref: '#/components/responses/Root'

  /classification_systems:
    get:
      tags:
        - Classification Systems
      summary: List Classification Systems
      description: Retrieves the list of names of all available land use and and cover classification systems in the service.
      operationId: getClassificationSystems
      responses:
        '200':
          $ref: '#/components/responses/ClassificationSystems'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      tags:
        - Classification Systems
      summary: New Classification System
      description: Adds a new classification system and returns a consolidated document with unique ids and links.
      operationId: addClassificationSystem
      requestBody:
        $ref: '#/components/requestBodies/ClassificationSystem'
      responses:
        '201':
          $ref: '#/components/responses/ClassificationSystem'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '500':
          $ref: '#/components/responses/ServerError'

  /classification_systems/{system_id}:
    parameters:
      - $ref: '#/components/parameters/system_id'
    get:
      tags:
        - Classification Systems
      summary: Describes Classification System
      description: Returns a document with full information about the classification system identified by `system_id`.
      operationId: describeClassificationSystem
      responses:
        '200':
          $ref: '#/components/responses/ClassificationSystemMetadata'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags:
          - Classification Systems
      summary: Update Classification System
      description: Updates an existing classification system and returns information about it.
      operationId: updateClassificationSystem
      requestBody:
          $ref: '#/components/requestBodies/ClassificationSystem'
      responses:
          '200':
              $ref: '#/components/responses/ClassificationSystem'
          '400':
              $ref: '#/components/responses/InvalidParameter'
          '404':
              $ref: '#/components/responses/NotFound'
          '500':
              $ref: '#/components/responses/ServerError'

    delete:
      tags:
          - Classification Systems
      summary: Delete Classification System
      description: Delete a given classification system.
      operationId: deleteClassificationSystem
      responses:
          '204':
              $ref: '#/components/responses/DeleteMessage'
          '400':
              $ref: '#/components/responses/InvalidParameter'
          '404':
              $ref: '#/components/responses/NotFound'
          '500':
              $ref: '#/components/responses/ServerError'

  /classification_systems/search/{system_name}/{system_version}:
    parameters:
      - $ref: '#/components/parameters/system_name'
      - $ref: '#/components/parameters/system_version'
    get:
      tags:
        - Classification Systems
      summary: Get a Classification System.
      description: Returns information about the classification system identified by `system_name` and `system_version`.
      operationId: getClassificationSystemByName
      responses:
        '200':
          $ref: '#/components/responses/ClassificationSystem'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /classification_systems/{system_id}/classes:
    parameters:
      - $ref: '#/components/parameters/system_id'
    get:
      tags:
        - Classes
      summary: Classification System's Classes
      description: Fetch classes of the classification system identified by `system_id`.
      operationId: getClasses
      responses:
        '200':
          $ref: '#/components/responses/Classes'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      tags:
          - Classes
      summary: Add Classes
      description: Adds one or more classes to a classification system identified by `system_id`.
      operationId: addClasses
      requestBody:
          $ref: '#/components/requestBodies/Classes'
      responses:
        '200':
          $ref: '#/components/responses/Classes'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /classification_systems/{system_id}/classes/{class_id}:
    get:
      tags:
        - Classes
      summary: Fetch Class
      description: Fetch the class identified by `class_id` in the classification system (`system_id`).
      operationId: getClass
      parameters:
        - $ref: '#/components/parameters/system_id'
        - $ref: '#/components/parameters/class_id'
      responses:
        '200':
          $ref: '#/components/responses/ClassMetadata'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      tags:
          - Classes
      summary: Update Class
      description: Updates a class with id `class_id` from a classification system identified by `system_id`.
      operationId: updateClasses
      parameters:
        - $ref: '#/components/parameters/system_id'
        - $ref: '#/components/parameters/class_id'
      requestBody:
          $ref: '#/components/requestBodies/Class'
      responses:
        '200':
          $ref: '#/components/responses/ClassMetadata'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      tags:
          - Classes
      summary: Delete Class
      description: Delete a class with id `class_id` of a classification system identified by `system_id`.
      operationId: deleteClass
      parameters:
        - $ref: '#/components/parameters/system_id'
        - $ref: '#/components/parameters/class_id'
      responses:
        '204':
          $ref: '#/components/responses/DeleteMessage'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /style_formats:
    get:
      tags:
        - Style Formats
      summary: List Style Formats
      description: Fetch all style formats available in service.
      operationId: getStylesFormat
      responses:
        '200':
          $ref: '#/components/responses/StyleLinks'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      tags:
        -  Style Formats
      summary: New Style Format
      description: Adds a new style format and returns a consolidated document with unique ids and links.
      operationId: addStyleFormat
      requestBody:
        $ref: '#/components/requestBodies/StyleFormat'
      responses:
        '201':
          $ref: '#/components/responses/StyleFormat'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '500':
          $ref: '#/components/responses/ServerError'

  /style_formats/{style_format_id}:
    get:
      tags:
        - Style Formats
      summary: Fetch Style Format
      description: Fetch information about a specific style format identified by `style_format_id`.
      operationId: getStyleFormat
      parameters:
        - $ref: '#/components/parameters/style_format_id'
      responses:
        '200':
          $ref: '#/components/responses/StyleFormatLink'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      tags:
          - Style Formats
      summary: Update Style Format
      description: Updates a style format.
      operationId: updateStyleFormat
      parameters:
        - $ref: '#/components/parameters/style_format_id'
      requestBody:
          $ref: '#/components/requestBodies/StyleFormat'
      responses:
        '200':
          $ref: '#/components/responses/StyleFormat'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      tags:
          - Style Formats
      summary: Delete Style Format
      description: Removes a style format and all styles associated with it.
      operationId: deleteStyleFormat
      parameters:
        - $ref: '#/components/parameters/style_format_id'
      responses:
        '204':
          $ref: '#/components/responses/DeleteMessage'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /style_formats/search/{style_format_name}:
    get:
      tags:
        - Style Formats
      summary: Fetch a Style Format
      description: Fetch information about a specific style format identified by `style_format_name`.
      operationId: getStyleFormatByName
      parameters:
        - $ref: '#/components/parameters/style_format_name'
      responses:
        '200':
          $ref: '#/components/responses/StyleFormat'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /classification_systems/{system_id}/style_formats:
    get:
      tags:
        - Styles
      summary: Fetch Styles
      description: Fetch all styles formats available of the classification with id `system_id`.
      operationId: getStyles
      parameters:
        - $ref: '#/components/parameters/system_id'
      responses:
        '200':
          $ref: '#/components/responses/StyleLinks'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /classification_systems/{system_id}/styles:
    post:
      tags:
        - Styles
      summary: Add New Style
      description: Adds a new style to the classifiation system.
      operationId: postMapping
      parameters:
        - $ref: '#/components/parameters/system_id'
      requestBody:
        $ref: '#/components/requestBodies/Style'
      responses:
        '201':
          $ref: '#/components/responses/StyleLink'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /classification_system/{system_id}/styles/{style_format_id}:
    get:
      tags:
        - Styles
      summary: Fetch Style
      description: Fetch the style associated to the classification system (`system_id`) with the specific format (`style_format_id`).
      operationId: getStyle
      parameters:
        - $ref: '#/components/parameters/system_id'
        - $ref: '#/components/parameters/style_format_id'
      responses:
        '200':
          $ref: '#/components/responses/Style'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      tags:
          - Styles
      summary: Updates a style.
      description: 'Updates a style from a classification system with id `system_id` and format style identified by `style_format_id`.'
      operationId: updateStyle
      parameters:
        - $ref: '#/components/parameters/system_id'
        - $ref: '#/components/parameters/style_format_id'
      requestBody:
          $ref: '#/components/requestBodies/StyleFile'
      responses:
        '200':
          $ref: '#/components/responses/StyleLinks'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      tags:
          - Styles
      summary: Delete Style
      description: Delete a style of a classification system with id `system_id` and format style identified by `style_format_id`.
      operationId: deleteStyle
      parameters:
          - $ref: '#/components/parameters/system_id'
          - $ref: '#/components/parameters/style_format_id'
      responses:
        '204':
          $ref: '#/components/responses/DeleteMessage'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /mappings/{system_id_source}:
    get:
      tags:
        - Mappings
      summary: Retrive Mapping
      description: Retrives available classification systems mappings using `system_id_source`.
      operationId: getAvailablesMappings
      parameters:
        - $ref: '#/components/parameters/system_id_source'
      responses:
        '200':
          $ref: '#/components/responses/MappingLink'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /mappings/{system_id_source}/{system_id_target}:
    get:
      tags:
        - Mappings
      summary: 'Retrive Mappings'
      description: Mapping of classification systems.
      operationId: getMappings
      parameters:
        - $ref: '#/components/parameters/system_id_source'
        - $ref: '#/components/parameters/system_id_target'
      responses:
        '200':
          $ref: '#/components/responses/Mappings'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    post:
      tags:
        - Mappings
      summary: New Mapping
      description: Adds a new classification system mapping using `system_id_source` and `system_id_target` and returns a document with the mapping.
      operationId: addMapping
      parameters:
        - $ref: '#/components/parameters/system_id_source'
        - $ref: '#/components/parameters/system_id_target'
      requestBody:
        $ref: '#/components/requestBodies/Mappings'
      responses:
        '201':
          $ref: '#/components/responses/Mappings'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    put:
      tags:
          - Mappings
      summary: Update Mapping
      description: Updates mapping between classification systems with `system_id_source` and `system_id_target`.
      operationId: updateMappings
      parameters:
          - $ref: '#/components/parameters/system_id_source'
          - $ref: '#/components/parameters/system_id_target'
      requestBody:
          $ref: '#/components/requestBodies/Mappings'
      responses:
        '200':
          $ref: '#/components/responses/Mappings'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

    delete:
      tags:
          - Mappings
      summary: Delete Mapping.
      description: Delete a mapping exist between classification systems using `system_id_source` and `system_id_target`.
      operationId: deleteMapping
      parameters:
          - $ref: '#/components/parameters/system_id_source'
          - $ref: '#/components/parameters/system_id_target'
      responses:
        '204':
          $ref: '#/components/responses/DeleteMessage'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'


components:

  schemas:

    ExceptionType:
      title: Exception raised by the service
      description: 'Information about the exception: an error code plus an optional description.'
      type: object
      properties:
        code:
          type: string
        description:
          type: string
      required:
        - code

    DeleteType:
      title: Delete message
      description: 'The delete request was successful.'
      type: object
      properties:
        message:
          type: string
      required:
        - message

    RootType:
      title: 'Landing Page'
      description: 'The landing page provides links to the classification systems.'
      type: object
      properties:
        lccs_version:
          type: string
          example: '0.6'
        links:
          type: array
          items:
            $ref: '#/components/schemas/LinkType'
          example:
            - href: 'https://brazildatacube.dpi.inpe.br/lccs/'
              rel: 'self'
              title: 'Link to this document'
              type: 'application/json'
            - href: 'https://brazildatacube.dpi.inpe.br/lccs/classification_systems'
              rel: 'classification_systems'
              title: 'List of available classification systems'
              type: 'application/json'
      required:
        - lccs_version
        - links

    LinkType:
      title: 'Link'
      description: 'This is a generic way to link information in the service.'
      type: object
      properties:
        href:
          type: string
          format: url
          example: 'http://www.esensing.dpi.inpe.br/lccs/classification_systems/system_id/classes'
        rel:
          type: string
          example: child
        title:
          type: string
          example: Child
      required:
        - href
        - rel

    ClassificationSystemsType:
      title: A document with the list of land use and and cover classification systems
      description: 'The id of a classification system is unique and it can be used in successive queries in the system.
      type: array
      items:
        $ref: '#/components/schemas/ClassificationSystemMetadataType'

    ClassificationSystemType:
      title: Land Use and Cover Classification System
      description: 'This type represents a given land use and cover classification system.'
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        authority_name:
          type: string
        version:
          type: string
      required:
        - name
        - description
        - authority_name
        - version

    ClassificationSystemMetadataType:
      allOf:
        - $ref: '#/components/schemas/ClassificationSystemType'
        - type: object
          properties:
            links:
              type: array
              items:
                $ref: '#/components/schemas/LinkType'
              example:
                - href: 'http://www.esensing.dpi.inpe.br/lccs/classification_systems/system_id'
                  rel: self
                - href: 'http://www.esensing.dpi.inpe.br/lccs/classification_systems/system_id/classes'
                  rel: classes
                - href: 'http://www.esensing.dpi.inpe.br/lccs/classification_systems'
                  rel: parent
                - href: 'http://www.esensing.dpi.inpe.br/lccs/'
                  rel: root
          required:
            - links

    ClassesLinkType:
      title: Land Use and Cover Classes
      description: 'Array of land use and cover classes.'
      type: array
      items:
        $ref: '#/components/schemas/LinkType'

    ClassType:
      title: Land Use and Cover Class
      description: 'Land Use and Cover Class.'
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        code:
          type: string
        description:
          type: string
        class_parent_id:
          type: integer
      required:
        - name
        - code
        - description

    ClassesType:
      type: object
      properties:
        classes:
          type: array
          items:
            $ref: '#/components/schemas/ClassType'

    ClassMetadataType:
      title: 'Land Use and Cover Class'
      description: 'Describes a class from a classification system.'
      allOf:
        - $ref: '#/components/schemas/ClassType'
        - type: object
          properties:
            links:
              type: array
              items:
                $ref: '#/components/schemas/LinkType'
      required:
        - links

    MappingType:
      type: object
      properties:
        degree_of_similarity:
          type: number
        description:
          type: string
        source_id:
          type: number
        target_id:
          type: number
        links:
          type: array
          items:
            $ref: '#/components/schemas/LinkType'

    MappingsType:
      title: 'A document with the list of mappinngs'
      description: 'List of mappings.'
      type: array
      items:
        $ref: '#/components/schemas/MappingType'

    StyleLinksType:
      type: array
      items:
            $ref: '#/components/schemas/LinkType'


    ClassSystemLinksType:
      type: object
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/LinkType'
      required:
        - links

    StyleLinkType:
      $ref: '#/components/schemas/LinkType'

    StyleFileType:
      type: object
      properties:
        style:
          type: string
          format: binary
      required:
        - style

    StyleFormatType:
      title: Style Formats
      description: 'This type represents a given style format.'
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      required:
        - name

    StyleFormatTypeLink:
      title: Style Formats
      description: 'This type represents a given style format.'
      type: object
      allOf:
        - $ref: '#/components/schemas/StyleFormatType'
        - type: object
          properties:
            links:
              type: array
              items:
                $ref: '#/components/schemas/LinkType'
      required:
        - name

    StyleFormatsType:
      title: 'A document with the list of land use and and cover classification systems'
      description: |
        The name of a classification system is unique and it can be used in successive queries in the system.
      type: array
      items:
        $ref: '#/components/schemas/StyleFormatTypeLink'



  requestBodies:

    ClassificationSystem:
      description: 'A document describing the new classification system.'
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClassificationSystemType'

    Classes:
      description: 'A document describing the new classes.'
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClassesType'

    Class:
      description: 'A document describing the new classes.'
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClassType'

    Mapping:
      description: |
        A document describing the new mapping.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MappingType'

    Mappings:
      description: |
        A document describing the new mapping.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MappingsType'

    StyleFormat:
      description: 'A document describing the style format.'
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StyleFormatType'

    StyleFile:
      description: 'A document describing the new style of classification system.'
      required: true
      content:
        multipart/form-data:
            schema:
              $ref: '#/components/schemas/StyleFileType'

    Style:
      description: 'A document describing the new style of classification system.'
      required: true
      content:
        multipart/form-data:
          schema:
            type: object
            allOf:
              - $ref: '#/components/schemas/StyleFileType'
              - type: object
                properties:
                   style_format_id:
                      type: integer
                required:
                  - style_format_id

  responses:

    Root:
      description: 'The landing page provides links to the classification systems.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RootType'

    ClassSystemLinks:
      description: 'Fetch all mappings available with `system_id_source`.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClassSystemLinksType'

    ClassificationSystems:
      description: 'JSON document with the name list of land use and and cover classification systems offered by the service.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClassificationSystemsType'

    ClassificationSystem:
      description: 'A JSON document with the classification system information.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClassificationSystemType'

    ClassificationSystemMetadata:
      description: 'JSON document describing the classification system.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClassificationSystemMetadataType'

    Classes:
      description: 'A list of land use and cover classes.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClassesLinkType'

    ClassMetadata:
      description: 'Fetch the class with id `class_id` in the classification system with id `system_id`'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClassMetadataType'

    MappingLink:
      description: 'A link to the mapping data.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StyleLinkType'

    Mappings:
      description: 'Fetch the mapping with `system_id_source` and `system_id_target`.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MappingsType'

    StyleLink:
      description: 'A link to the style data.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StyleLinkType'

    StyleLinks:
      description: 'The response is a document consisting of all styles in the classification system.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StyleLinksType'

    Style:
      description: 'The response is a document with the style of the classification system.'
      content:
        application/octet-stream:
          schema:
            type: string
            format: binary

    StyleFormatLink:
      description: 'JSON document with the name list of style formats offered by the service.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StyleFormatTypeLink'

    StyleFormat:
      description: 'JSON document with the name list of style formats offered by the service.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StyleFormatType'

    StyleFormats:
      description: 'JSON document with the name list of style formats offered by the service.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StyleFormatsType'

    ServerError:
      description: 'A JSON document informing that an error has occurred in the system.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExceptionType'
        text/html:
          schema:
            type: string

    InvalidParameter:
      description: 'A query parameter has an invalid value.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExceptionType'

    NotFound:
      description: 'The requested URI was not found.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExceptionType'

    DeleteMessage:
      description: 'The requested URI was successful.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteType'

  parameters:

    class_id:
      name: class_id
      in: path
      description: Identifier of a class.
      required: true
      schema:
        type: integer

    style_format_id:
      name: style_format_id
      in: path
      description: Identifier of style format.
      required: true
      schema:
        type: integer

    style_format_name:
      name: style_format_name
      in: path
      description: Name of style format.
      required: true
      schema:
        type: string

    system_id:
      name: system_id
      in: path
      description: Identifier of a classification system.
      required: true
      schema:
        type: integer

    system_name:
      name: system_name
      in: path
      description: Name of a classification system.
      required: true
      schema:
        type: string

    system_version:
      name: system_version
      in: path
      description: Version of a classification system.
      required: true
      schema:
        type: string

    system_id_source:
      name: system_id_source
      in: path
      description: Identifier (name) of a source classification system.
      required: true
      schema:
        type: string

    system_id_target:
      name: system_id_target
      in: path
      description: Identifier (name) of a target classification system.
      required: true
      schema:
        type: string
