openapi: 3.0.0

info:
    title: Land Cover Classification System Web Service

    description: >
        Land Cover Classification System Web Service (LCCS-WS) is designed to deal with class system representations in traditional land use and cover maps. Besides that it can make easy for applications to have access to the symbology of well know land use and cover maps in applications such as QGIS or GeoServer.


        There are free and open source implementations based on this specification:

        - [lccs-ws](https://github.com/brazil-data-cube/lccs-ws): is a LCCS web server implemented in Python.

        - [lccs.py](https://github.com/brazil-data-cube/lccs.py): is a client library for Python.

        - [wlts](https://github.com/brazil-data-cube/wlts): is a Land Use and Cover Trajectory web service implemented in Python.

        - [wlts.py](https://github.com/brazil-data-cube/wlts.py): is a client library for Python programmers that makes easy the access to trajectories from land use and cover maps.

    contact:
        name: LCCS-WS Specification
        url: https://gitter.im/brazil-data-cube/community#
        email: brazildatacube@dpi.inpe.br

    license:
        name: MIT
        url: https://opensource.org/licenses/MIT

    version: '0.2.0'

    x-logo:
        url: '../img/bdc-logo.png'
        altText: Brazil Data Cube
        href: 'https://github.com/brazil-data-cube'

servers:
    - url: 'http://www.esensing.dpi.inpe.br/lccs'
      description: Production server

    - url: 'http://www.dev.esensing.dpi.inpe.br/lccs'
      description: Development server

paths:

    /classification_systems:
        get:
            tags:
                - Classification Systems
            summary: List of Classification Systems.
            description: Retrieves the list of names of all available land use and and cover classification systems in the service.
            operationId: getClassificationSystems
            responses:
                '200':
                    $ref: '#/components/responses/ClassificationSystems'
                '500':
                    $ref: '#/components/responses/ServerError'
        post:
            tags:
                - Classification Systems
            summary: Add a new classification system.
            description: Adds a new classification system and returns a consolidated document with unique ids and links.
            operationId: addClassificationSystem
            requestBody:
                description: A document describing the new classification system.
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ClassificationSystemType'
            responses:
                '201':
                    description: A consolidated JSON document with the classification system information.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ClassificationSystemType'

    /classification_systems/{system_id}:
        parameters:
            - $ref: '#/components/parameters/system_id'
        get:
            tags:
                - Classification Systems
            summary: >
                Describe the classification system with id `system_id`
            description: Returns information of classification system by Id.
            operationId: describeClassificationSystem
            responses:
                '200':
                    $ref: '#/components/responses/ClassificationSystem'
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'

    /classification_systems/{system_id}/classes:
        get:
            tags:
                - Classes
            summary: fetch classes
            description: >
                Fetch classes of the classification with id `system_id`.
            operationId: getClasses
            parameters:
                - $ref: '#/components/parameters/system_id'
            responses:
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'
                '200':
                    $ref: '#/components/responses/Classes'

        post:
            tags:
                - Classes
            summary: >
                The server returns 201 in the response. The request was
                successful and a new class was created.
            operationId: postClasses
            parameters:
                - $ref: '#/components/parameters/system_id'
            requestBody:
                description: "Informations to create a new class."
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/class_body'
            responses:
                '201':
                    description: "Information of new class"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/class_body'

    /classification_systems/{system_id}/styles:
        get:
            tags:
                - Styles
            summary: fetch styles
            description: >
                Fetch styles of the classification with id `system_id`.
            operationId: getStyles
            parameters:
                - $ref: '#/components/parameters/system_id'
            responses:
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'
                '200':
                    $ref: '#/components/responses/Styles'

    /classification_systems/{system_id}/classes/{class_id}:
        get:
            tags:
                - Classes
            summary: fetch a single class.
            description: >
                Fetch the classe with id `class_id` in the classification
                system  with id `system_id`.
            operationId: getClasse
            parameters:
                - $ref: '#/components/parameters/system_id'
                - $ref: '#/components/parameters/class_id'
            responses:
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'
                '200':
                    $ref: '#/components/responses/Classe'

    /mappings/{system_id_source}:
        get:
            tags:
                - Mappings
            summary: Retrives avaliable classification systems mappings.
            operationId: getAvailablesMappings
            parameters:
                - $ref: '#/components/parameters/system_id_source'
            responses:
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'
                '200':
                    $ref: '#/components/responses/Availables_Mappings'

    /mappings/{system_id_source}/{system_id_target}:
        get:
            tags:
                - Mappings
            summary: Retrives classification systems mappings.
            description: Mapping of classification systems.
            operationId: getMappings
            parameters:
                - $ref: '#/components/parameters/system_id_source'
                - $ref: '#/components/parameters/system_id_target'
            responses:
                '404':
                    $ref: '#/components/responses/NotFound'
                '500':
                    $ref: '#/components/responses/ServerError'
                '200':
                    $ref: '#/components/responses/Mappings'

components:

    #-------------------------------
    # Reusable operation parameters
    #-------------------------------

    parameters:

        system_id:
            name: system_id
            in: path
            description: Identifier (name) of a classification system
            required: true
            schema:
                type: string

        class_id:
            name: class_id
            in: path
            description: Identifier (name) of a class
            required: true
            schema:
                type: string

        system_id_source:
            name: system_id_source
            in: path
            description: Identifier (name) of a source classification system
            required: true
            schema:
                type: string

        system_id_target:
            name: system_id_target
            in: path
            description: Identifier (name) of a target classification system
            required: true
            schema:
                type: string


    #-------------------------------
    # Reusable schemas (data models)
    #-------------------------------

    schemas:

        ClassificationSystemType:
            title: Land Use and Cover Classification System
            description: >
                This type represents a given lan use and cover classification system.
            type: object
            properties:
                name:
                    type: string
                description:
                    type: string
                authority_name:
                    type: string
                version:
                    type: string
            required:
                - authority_name
                - name
                - description
                - version

        class_body:
            type: object
            required:
                - name
                - code
                - description
            properties:
                name:
                    type: string
                code:
                    type: string
                description:
                    type: string
                parent_name:
                    type: string

        classification_system:
            type: object
            required:
                - id
                - name
                - links
            properties:
                id:
                    type: number
                name:
                    type: string
                authority_name:
                    type: string
                description:
                    type: string
                version:
                    type: string
                styles:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"
                    example:
                        - href: http://localhost/lccs_ws/system_id/styles/style_format
                          rel: item
                          title: Styles
                links:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"
                    example:
                        - href: http://data.example.com/buildings
                          rel: item

        ClassificationSystemsType:
            title: A document with the list of land use and and cover classification systems.
            type: object
            properties:
                links:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"
            required:
                - links

        classes:
            type: object
            required:
                - links
            properties:
                links:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"

        classe:
            type: object
            required:
                - name
                - id
                - links
            properties:
                id:
                    type: number
                name:
                    type: string
                code:
                    type: string
                description:
                    type: string
                parent:
                    type: object
                    items:
                        $ref: "#/components/schemas/classe"
                links:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"

        mapping:
            type: object
            properties:
                links:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"
                description:
                    type: string
                degree_of_similarity:
                    type: number

        mappings:
            type: array
            items:
                $ref: "#/components/schemas/mapping"

        availables_mappings:
            type: array
            items:
                $ref: "#/components/schemas/ClassificationSystemsType"

        styles:
            type: object
            required:
                - links
            properties:
                links:
                    type: array
                    items:
                        $ref: "#/components/schemas/LinkType"

        LinkType:
            title: Link for related information.
            description: This is a generic way to link information in the service.
            type: object
            properties:
                href:
                    type: string
                    format: url
                    example: 'http://localhost/lccs_ws/classification_system'
                rel:
                    type: string
                    example: child
                title:
                    type: string
                    example: Child
            required:
                - href
                - rel

        ExceptionType:
            title: The type of exception raised by the service.
            description: >
                Information about the exception: an error code plus an optional description.
            type: object
            properties:
                code:
                    type: string
                description:
                    type: string
            required:
                - code

    responses:

        ClassificationSystems:
            description: >
                JSON document with the name of land use and and cover classification systems offered by the service.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ClassificationSystemsType'

        ClassificationSystem:
            description: >
                Information about classification system id `system_id`.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/classification_system'

        Classes:
            description: >
                The response is a document consisting of classes in the classification system.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/classes'

        Classe:
            description: >
                fetch the classe with id `class_id` in the classification system
                with id `system_id`
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/classe'

        Mappings:
            description: >
                fetch the mapping with `system_id_source` and `system_id_target`.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/mappings'

        Availables_Mappings:
            description: >
                fetch all mappings availables with `system_id_source`.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/availables_mappings'

        Styles:
            description: >
                The response is a document consisting of all styles in the classification system.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/styles'

        ServerError:
            description: >
                A JSON document informing that an error has occurred in the system.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ExceptionType'
                text/html:
                    schema:
                        type: string

        NotFound:
            description: >
                The requested URI was not found.


        InvalidParameter:
            description: >
                A query parameter has an invalid value.